version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    restart: unless-stopped
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - microservice

  redis:
    image: redis/redis-stack
    container_name: order-redis
    ports: 
      - "6379:6379"
      - "8001:8001"
    environment:
      REDIS_ARGS: "--requirepass coolPasscode --appendonly yes --dir /data"
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - microservice

volumes:
  redis-data:
  rabbitmq-data:

networks:
  microservice:
    driver: bridge
